[submodule "kartik-coin/lib/forge-std"]
	path = kartik-coin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "kartik-coin/lib/openzeppelin-contracts"]
	path = kartik-coin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
